{% extends "profileT/profileBase.html" %}
{% block profile_content %}

    
    <h2 class="card-title">Configurar y customizar</h2>

    
    <h3 class="mt-3">Tema</h3>
    <form action="{%url 'Theme' %}" method="get" class="form-group">
        <div class="form-check ms-2">
            <input class="form-check-input" type="radio" id="themeY" name="theme" value="Y">
            <label class="form-check-label" for="themeY">Yellow</label>
        </div>
        <div class="form-check ms-2">
            <input class="form-check-input" type="radio" id="themeB" name="theme" value="B">
            <label class="form-check-label" for="themeB">Blue</label>
        </div>
        <div class="form-check ms-2">
            <input class="form-check-input" type="radio" id="themeC" name="theme" value="C">
            <label class="form-check-label" for="themeC">Coral</label>
        </div>
        <button type="submit" class="btn hover-btn3 fw-semibold mt-2">Aplicar</button>
    </form>

    <h3 class="mt-3">Cambiar datos</h3>
    <a href="{%url 'SetName' %}" class="btn rounded hover-btn3 fw-semibold">Cambiar username</a>
    <a href="{%url 'SetEmail' %}" class="btn rounded hover-btn3 fw-semibold mx-2">Cambiar email</a>
    <a href="{%url 'Forgot' %}" class="btn rounded hover-btn3 fw-semibold">Cambiar contraseña</a>


{%endblock%}