
.bg1{background-color: #1B1B1B;}
.bg2{background-color: #FCCD8E;}
.bg3{background-color: #F5FF92;}
.bg4{background-color: #FFFFD8;}
.bg5{background-color: #FFFFFF;}

.hover-btn1{background-color: #1B1B1B;} .hover-btn1:hover{background-color: #474747;}
.hover-btn2{background-color: #FCCD8E;} .hover-btn2:hover{background-color: #c09359;}
.hover-btn3{background-color: #F5FF92;} .hover-btn3:hover{background-color: #b1b959;}