
<nav class="navbar navbar-expand-lg bg1" style="position: fixed; top: 0; width: 100%; z-index: 1;">

    <div class="container-fluid text-light">
        
        <a class="navbar-brand mx-0" href="{%url 'Shop' %}">{%load static%}
            <img src="{% static 'img/sheepy.png' %}" alt="Logo" width="30" height="30"/>
        </a>

        <form role="search" method="GET" action="/" class="d-flex col-6">
            <button class="btn hover-btn3 fw-bold" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            <input class="form-control ms-3" type="search" name="q" placeholder="Buscar...">
        </form>

        <div class="d-flex">
            {%if user.is_authenticated%}
                <p class="text-light me-3" style="font-size: large; margin: auto;">Logged as: <span class="fw-bold">{{user.username}}</span></p>
                <a class="btn rounded hover-btn3 fw-bold me-3" href="{% url 'Profile' %}">My profile</a>
                <a class="btn rounded hover-btn2 fw-bold" href="{% url 'Logout' %}">LOGOUT</a>
            {%else%}
                <a class="btn rounded hover-btn2 fw-bold me-3" href="{% url 'Login' %}">LOGIN</a>
                <a class="btn rounded hover-btn3 fw-bold" href="{% url 'Signup' %}">SIGN UP</a>
            {%endif%}
        </div>
        
    </div>
    
</nav>
